<a href="https://colab.research.google.com/github/akshitkaushal/AkshitAPP1/blob/main/Copy_of_Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def greet_user():
  print("hy there ...")
  print("welcome")

In [ ]:
greet_user

In [ ]:
greet_user

In [ ]:
greet_user()

hy there ...
welcome

In [ ]:
def name(a):
  print("hello")

In [ ]:
name("akshit")

hello

In [ ]:
name(a)

hello Akshit

In [ ]:
name(akshit)

NameError: ignored

In [ ]:
INbuilt Modules

SyntaxError: ignored

In [ ]:
Inbuilt Modules

SyntaxError: ignored

In [ ]:
import math

In [ ]:
math.ceil(3.4)

4

In [ ]:
math.floor(3.4)

3

In [ ]:
math.factorial(5)

120

In [ ]:
math.random(3)

AttributeError: ignored

In [ ]:
import random

In [ ]:
random.randint(1,1.5)

ValueError: ignored

In [ ]:
random.randint(1,100,22)

TypeError: ignored

In [ ]:
import numpy as np

In [ ]:
np.random.randint(10,34,3)

array([23, 21, 13])

In [ ]:
for i in range(0,10):
  print(i)
  time.sleep(1)

0

NameError: ignored

In [ ]:
a=[1,2,3,4]
b=[5,6,7,8]

NameError: ignored

In [ ]:
a=np.array([1,2,3,4])
b=np.array([5,6,7,8])

In [ ]:
a*b

array([ 5, 12, 21, 32])

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("mtcars.csv")

In [ ]:
df

                  model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0             Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1         Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2            Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3        Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4     Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2
5               Valiant  18.1    6  225.0  105  ...  20.22   1   0     3     1
6            Duster 360  14.3    8  360.0  245  ...  15.84   0   0     3     4
7             Merc 240D  24.4    4  146.7   62  ...  20.00   1   0     4     2
8              Merc 230  22.8    4  140.8   95  ...  22.90   1   0     4     2
9              Merc 280  19.2    6  167.6  123  ...  18.30   1   0     4     4
10            Merc 280C  17.8    6  167.6  123  ...  18.90   1   0     4     4
11           Merc 450SE  16.4    8  275.8  180  ...  17.40   0   0     3     3
12           Merc 450SL  17.3    8  275.8  180  ...  17.60   0   0     3     3
13          Merc 450SLC  15.2    8  275.8  180  ...  18.00   0   0     3     3
14   Cadillac Fleetwood  10.4    8  472.0  205  ...  17.98   0   0     3     4
15  Lincoln Continental  10.4    8  460.0  215  ...  17.82   0   0     3     4
16    Chrysler Imperial  14.7    8  440.0  230  ...  17.42   0   0     3     4
17             Fiat 128  32.4    4   78.7   66  ...  19.47   1   1     4     1
18          Honda Civic  30.4    4   75.7   52  ...  18.52   1   1     4     2
19       Toyota Corolla  33.9    4   71.1   65  ...  19.90   1   1     4     1
20        Toyota Corona  21.5    4  120.1   97  ...  20.01   1   0     3     1
21     Dodge Challenger  15.5    8  318.0  150  ...  16.87   0   0     3     2
22          AMC Javelin  15.2    8  304.0  150  ...  17.30   0   0     3     2
23           Camaro Z28  13.3    8  350.0  245  ...  15.41   0   0     3     4
24     Pontiac Firebird  19.2    8  400.0  175  ...  17.05   0   0     3     2
25            Fiat X1-9  27.3    4   79.0   66  ...  18.90   1   1     4     1
26        Porsche 914-2  26.0    4  120.3   91  ...  16.70   0   1     5     2
27         Lotus Europa  30.4    4   95.1  113  ...  16.90   1   1     5     2
28       Ford Pantera L  15.8    8  351.0  264  ...  14.50   0   1     5     4
29         Ferrari Dino  19.7    6  145.0  175  ...  15.50   0   1     5     6
30        Maserati Bora  15.0    8  301.0  335  ...  14.60   0   1     5     8
31           Volvo 142E  21.4    4  121.0  109  ...  18.60   1   1     4     2

[32 rows x 12 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [ ]:
df.describe()

             mpg        cyl        disp  ...         am       gear     carb
count  32.000000  32.000000   32.000000  ...  32.000000  32.000000  32.0000
mean   20.090625   6.187500  230.721875  ...   0.406250   3.687500   2.8125
std     6.026948   1.785922  123.938694  ...   0.498991   0.737804   1.6152
min    10.400000   4.000000   71.100000  ...   0.000000   3.000000   1.0000
25%    15.425000   4.000000  120.825000  ...   0.000000   3.000000   2.0000
50%    19.200000   6.000000  196.300000  ...   0.000000   4.000000   2.0000
75%    22.800000   8.000000  326.000000  ...   1.000000   4.000000   4.0000
max    33.900000   8.000000  472.000000  ...   1.000000   5.000000   8.0000

[8 rows x 11 columns]

In [ ]:
df.tail()

             model   mpg  cyl   disp   hp  ...  qsec  vs  am  gear  carb
27    Lotus Europa  30.4    4   95.1  113  ...  16.9   1   1     5     2
28  Ford Pantera L  15.8    8  351.0  264  ...  14.5   0   1     5     4
29    Ferrari Dino  19.7    6  145.0  175  ...  15.5   0   1     5     6
30   Maserati Bora  15.0    8  301.0  335  ...  14.6   0   1     5     8
31      Volvo 142E  21.4    4  121.0  109  ...  18.6   1   1     4     2

[5 rows x 12 columns]

In [ ]:
df.sample()

                 model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
14  Cadillac Fleetwood  10.4    8  472.0  205  ...  17.98   0   0     3     4

[1 rows x 12 columns]

In [ ]:
df.sample(frac=0.2)

            model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0       Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
29   Ferrari Dino  19.7    6  145.0  175  ...  15.50   0   1     5     6
1   Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
17       Fiat 128  32.4    4   78.7   66  ...  19.47   1   1     4     1
10      Merc 280C  17.8    6  167.6  123  ...  18.90   1   0     4     4
18    Honda Civic  30.4    4   75.7   52  ...  18.52   1   1     4     2

[6 rows x 12 columns]

In [ ]:
df[['model','hp']]

                  model   hp
0             Mazda RX4  110
1         Mazda RX4 Wag  110
2            Datsun 710   93
3        Hornet 4 Drive  110
4     Hornet Sportabout  175
5               Valiant  105
6            Duster 360  245
7             Merc 240D   62
8              Merc 230   95
9              Merc 280  123
10            Merc 280C  123
11           Merc 450SE  180
12           Merc 450SL  180
13          Merc 450SLC  180
14   Cadillac Fleetwood  205
15  Lincoln Continental  215
16    Chrysler Imperial  230
17             Fiat 128   66
18          Honda Civic   52
19       Toyota Corolla   65
20        Toyota Corona   97
21     Dodge Challenger  150
22          AMC Javelin  150
23           Camaro Z28  245
24     Pontiac Firebird  175
25            Fiat X1-9   66
26        Porsche 914-2   91
27         Lotus Europa  113
28       Ford Pantera L  264
29         Ferrari Dino  175
30        Maserati Bora  335
31           Volvo 142E  109

In [ ]:
df[0:6]

               model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2
5            Valiant  18.1    6  225.0  105  ...  20.22   1   0     3     1

[6 rows x 12 columns]

In [ ]:
df

                  model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0             Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1         Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2            Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3        Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4     Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2
5               Valiant  18.1    6  225.0  105  ...  20.22   1   0     3     1
6            Duster 360  14.3    8  360.0  245  ...  15.84   0   0     3     4
7             Merc 240D  24.4    4  146.7   62  ...  20.00   1   0     4     2
8              Merc 230  22.8    4  140.8   95  ...  22.90   1   0     4     2
9              Merc 280  19.2    6  167.6  123  ...  18.30   1   0     4     4
10            Merc 280C  17.8    6  167.6  123  ...  18.90   1   0     4     4
11           Merc 450SE  16.4    8  275.8  180  ...  17.40   0   0     3     3
12           Merc 450SL  17.3    8  275.8  180  ...  17.60   0   0     3     3
13          Merc 450SLC  15.2    8  275.8  180  ...  18.00   0   0     3     3
14   Cadillac Fleetwood  10.4    8  472.0  205  ...  17.98   0   0     3     4
15  Lincoln Continental  10.4    8  460.0  215  ...  17.82   0   0     3     4
16    Chrysler Imperial  14.7    8  440.0  230  ...  17.42   0   0     3     4
17             Fiat 128  32.4    4   78.7   66  ...  19.47   1   1     4     1
18          Honda Civic  30.4    4   75.7   52  ...  18.52   1   1     4     2
19       Toyota Corolla  33.9    4   71.1   65  ...  19.90   1   1     4     1
20        Toyota Corona  21.5    4  120.1   97  ...  20.01   1   0     3     1
21     Dodge Challenger  15.5    8  318.0  150  ...  16.87   0   0     3     2
22          AMC Javelin  15.2    8  304.0  150  ...  17.30   0   0     3     2
23           Camaro Z28  13.3    8  350.0  245  ...  15.41   0   0     3     4
24     Pontiac Firebird  19.2    8  400.0  175  ...  17.05   0   0     3     2
25            Fiat X1-9  27.3    4   79.0   66  ...  18.90   1   1     4     1
26        Porsche 914-2  26.0    4  120.3   91  ...  16.70   0   1     5     2
27         Lotus Europa  30.4    4   95.1  113  ...  16.90   1   1     5     2
28       Ford Pantera L  15.8    8  351.0  264  ...  14.50   0   1     5     4
29         Ferrari Dino  19.7    6  145.0  175  ...  15.50   0   1     5     6
30        Maserati Bora  15.0    8  301.0  335  ...  14.60   0   1     5     8
31           Volvo 142E  21.4    4  121.0  109  ...  18.60   1   1     4     2

[32 rows x 12 columns]

In [ ]:
df.sort_values(by="mpg")

                  model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
15  Lincoln Continental  10.4    8  460.0  215  ...  17.82   0   0     3     4
14   Cadillac Fleetwood  10.4    8  472.0  205  ...  17.98   0   0     3     4
23           Camaro Z28  13.3    8  350.0  245  ...  15.41   0   0     3     4
6            Duster 360  14.3    8  360.0  245  ...  15.84   0   0     3     4
16    Chrysler Imperial  14.7    8  440.0  230  ...  17.42   0   0     3     4
30        Maserati Bora  15.0    8  301.0  335  ...  14.60   0   1     5     8
13          Merc 450SLC  15.2    8  275.8  180  ...  18.00   0   0     3     3
22          AMC Javelin  15.2    8  304.0  150  ...  17.30   0   0     3     2
21     Dodge Challenger  15.5    8  318.0  150  ...  16.87   0   0     3     2
28       Ford Pantera L  15.8    8  351.0  264  ...  14.50   0   1     5     4
11           Merc 450SE  16.4    8  275.8  180  ...  17.40   0   0     3     3
12           Merc 450SL  17.3    8  275.8  180  ...  17.60   0   0     3     3
10            Merc 280C  17.8    6  167.6  123  ...  18.90   1   0     4     4
5               Valiant  18.1    6  225.0  105  ...  20.22   1   0     3     1
4     Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2
9              Merc 280  19.2    6  167.6  123  ...  18.30   1   0     4     4
24     Pontiac Firebird  19.2    8  400.0  175  ...  17.05   0   0     3     2
29         Ferrari Dino  19.7    6  145.0  175  ...  15.50   0   1     5     6
0             Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1         Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
3        Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
31           Volvo 142E  21.4    4  121.0  109  ...  18.60   1   1     4     2
20        Toyota Corona  21.5    4  120.1   97  ...  20.01   1   0     3     1
8              Merc 230  22.8    4  140.8   95  ...  22.90   1   0     4     2
2            Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
7             Merc 240D  24.4    4  146.7   62  ...  20.00   1   0     4     2
26        Porsche 914-2  26.0    4  120.3   91  ...  16.70   0   1     5     2
25            Fiat X1-9  27.3    4   79.0   66  ...  18.90   1   1     4     1
27         Lotus Europa  30.4    4   95.1  113  ...  16.90   1   1     5     2
18          Honda Civic  30.4    4   75.7   52  ...  18.52   1   1     4     2
17             Fiat 128  32.4    4   78.7   66  ...  19.47   1   1     4     1
19       Toyota Corolla  33.9    4   71.1   65  ...  19.90   1   1     4     1

[32 rows x 12 columns]